<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
{{css}}
</style>
</head>
<body>

    <div class="header-banner">
        <div class="brand">
            <h1>DIGITAL SANCTUM</h1>
            <div class="abn">ABN: 57 221 340 918</div>
        </div>
        <div class="doc-type">KNOWLEDGE ARTICLE</div>
    </div>

    <div class="content">
        <div class="title-block">
            <h2>{{title}}</h2>
            <div class="meta">{{meta}}</div>
        </div>

        {{body}}
    </div>

</body>
</html>